
/*======================================轮播图=======================================*/
.swiper-container {
    width: 100%;
    margin: 0 auto;
    background: #f8f8f8;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-slide-next,.swiper-slide-prev{
    opacity: 0.15;
    filter:alpha(opacity=15);

}
/*====================================container=============================*/
@font-face {
    font-family: testfont;
    src: url("../font/FZLTHJW.TTF");
    /* IE */ src: local("FZLTHJW"), url(../font/FZLTHJW.TTF) format("truetype"); /* non-IE */
}
@font-face {
    font-family: fontfutura;
    src: url("../font/Futura-Md-BT.ttf");
    /* IE */ src: local("FZLTHJW"), url(../font/Futura-Md-BT.ttf) format("truetype"); /* non-IE */
}
.fontfutura{
    font-family: fontfutura;
}
#containerMian{
    width: 100%;
    background: #F8F8F8;
    /*background: #fff;*/
    /*font-family: testfont;*/
    /*padding-bottom: 2.5rem;*/
}
#containerMian .arial{
    font-family: fontfutura;
}
.header{
    width: 1200px;
    margin: 0 auto;
    border-top: 6px solid #E7130F;
    background: #f8f8f8;
    padding-bottom: 0.7rem;
}
.logo{
    width: 3.9rem;
    margin: 0 auto;
    margin-top: 1.1rem;
}
.logo>img{
    display: block;
}
.logo>p{
    color: #9C9F98;
    font-size: 0.24rem;
    width: 100%;
    text-align: center;
    margin-top: 0.1rem;
}
.nav{
    width: 100%;
    border-bottom: 1px solid #C9CACB;
    text-align: center;
}
.nav>a{
    text-decoration: none;
    color: #000;
    font-size: 0.24rem;
    padding: 0.7rem 0.8rem;
    display: inline-block;
}
.main{
    width: 1200px;
    background: #f8f8f8;
    margin: 0 auto;
}

.story{
    width: 100%;
    text-align: center;
    padding-bottom: 0.96rem;
    padding-top: 0.96rem;
    border-bottom: 1px solid #C9CACB;
}
.story>h1{
    font-size: 0.32rem;
    color: #000;
    margin-top: 0.06rem;
    margin-bottom: 0.5rem;
   /* font-weight: bold;*/
}

.story>p{
    font-size: 0.24rem;
    color: #727171;
    margin: 0 auto;
    line-height: 0.36rem;
    font-family: Arial;
}
.storyText1{
    width: 65%;
}
.storyText2{
    width: 50%;
}
.story>h2{
    font-size: 0.2rem;
    color: #E7130F;
    /*padding: 0.1rem 0;*/
}
.storyTitle2{
    margin-top: 0.4rem;
}

.demo {
    position: relative;
    opacity: 0;
    margin-top: 1rem;
}

.grid {
    position: relative;
    width: 100%;
    /* fluffy */
    margin: 0 auto;
}

.grid-item {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    /* fluffy */
    width: 32%;
    height: auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
    padding-bottom: 0.8rem;
    background: #f8f8f8;
}
.grid-item img{
    width: 100%;
    opacity: 0.8;
    transition: all 0.3s;
    -webkit-transition: all 0.6s;
}
.grid-item img:hover{
    opacity: 1;
}
.grid-item h3{
    font-size:0.32rem ;
    color: #000000;
    margin-top: .2rem;
    font-family: Arial;
    font-weight: bold;
}
.grid-item>span{
    display: block;
    font-size: 0.28rem;
    color: #727171;
    font-weight: normal;
    margin-top: 0.2rem;
}
.grid-item>h3>.textBlock{
    font-size: 0.28rem;
    font-family: fontfutura;
    /*font-weight: normal;*/
}
.grid-item p{
    font-size: 0.24rem;
    color: #5C5C5C;
    padding-top: 0.1rem;
    line-height: 0.36rem;
    font-family: Arial;
}
.photo{
    width: 100%;
    overflow: hidden;
    margin: 1.4rem auto 0 auto;
}
.photo li{
    float: left;
    /*width: 16.4%;*/
    width: 30.3%;
    box-sizing: border-box;
    margin-left: 3%;
}
.photo li img{
    display: block;
    width: 100%;
}
.foot{
    width: 100%;
    border-bottom: 1px solid #C9CACB;
}
.footer{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.6rem 3%;
    box-sizing: border-box;
}
.footer ul{
    float: left;
    text-align: left;
    margin-left: 0.8rem;
}
.footer ul:first-child{
    margin-left: 0;
}
.footer ul li{
    /*height: 0.4rem;*/
    line-height: 0.46rem;
    font-size: 0.24rem;
    color: #727171;
    font-family: Arial;
}
.footer ul li img{
    display: block;
    width: 2.2rem;
    margin-top: 0.1rem;
}
.footCenter{
    text-align: center;
    margin-top: 0.1rem;
}
.footer div{
    float: right;
    overflow: hidden;
}
.footer div h6{
    float: left;
    text-align: center;
}
.footer div h6:first-child{
    margin-right: 0.4rem;
}
.footer div p{
    font-size:0.2rem;
    color: #727171;
}
.footer div img{
    display: block;
    width: 100%;
}
.link{
    width: 100%;
    text-align: center;
    font-size: 0.2rem;
    color: #727171;
    margin-top: 0.4rem;
    padding-bottom: 2rem;
}

.return{
    position: fixed;
    right: 0;
    top: 70%;
    z-index: 100;
    display: none;
}
.return img{
    display: block;
    width: 1.2rem;
}
