@media screen and (max-width:1200px){
    .main{
        width: 100%;
    }
    .header{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .footer div{
        float: left;
    }
}
@media screen and (max-width:980px){
    .grid{
        width: 100%;
    }
    .grid-item {
        width: 45%;
        margin-left: 2%;
    }

    .footer{
        width: 100%;
    }
    .footer ul{
        margin-left: 0;
        width: 100%;
        text-align: center;
        float: none;
        margin-top: 0.4rem;
    }
    .footer ul li img{
        margin: 0 auto;
    }
    .footCenter{
        text-align: center;
        margin-top: 0rem;
    }
    .footer div{
        width: 40%;
        margin: 0 auto;
        margin-top: 0.4rem;
        float: none;
    }
    .footer div h6{
        width: 50%;
        margin: 0;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
    .footer div h6:first-child{
        margin: 0;
    }

}

@media screen and (max-width: 640px){
   /* #containerMian{
        padding-bottom: 1rem;
    }*/
    .swiper-slide{
        width: 100%;
    }
    .nav>a{
        padding: 0.7rem 0.2rem;
    }
    .storyText1{
        width: 85%;
    }
    .storyText2{
        width: 85%;
    }
    /*.photo{
        width: 90%;
    }*/
    .photo li{
        /*width: 45.5%;*/
        width: 41%;
        margin-left: 6%;
        margin-top: 0.2rem;
    }

    .footer div{
        width: 100%;
        margin-top: 0.4rem;
    }
    .footer div h6{
        float: none;
        width: 40%;
        text-align: center;
        margin: 0 auto;
        margin-top: 0.4rem;
    }
    .footer div h6:first-child{
        margin: 0 auto;
    }
    .textBlock{
        display: block;
    }
}