@media screen and (max-width:980px){
    .footer div{
        float: left;
        text-align: center;
    }
    .footer div img{
        float: left;
        width: 50%;
        margin-top: 0.8rem;
    }
    .grid{
        width: 100%;
    }
    .grid-item {
        width: 45%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 640px){
    #containerMian{
        padding-bottom: 1rem;
    }
    .swiper-slide{
        width: 100%;
    }
    .nav>a{
        padding: 0.7rem 0.2rem;
    }
    .storyText1{
        width: 85%;
    }
    .storyText2{
        width: 85%;
    }
    .photo{
        width: 90%;
    }
    .photo li{
        width: 50%;
        margin-top: 0.2rem;
    }
    .footer{
        width: 90%;
    }
    .footer ul{
        margin-left: 0;
    }
    .footer ul:nth-child(1),.footer ul:nth-child(2){
        width: 50%;
    }
    .footer ul:nth-child(3){
        width: 100%;
        margin-top: 0.4rem;
    }
    .footer ul li{
        height: auto;
    }
    .footer div{
        float: none;
        width: 85%;
        margin: 0 auto;
    }
    .footer div img{
        width: 50%;
        margin-top: 0.8rem;
    }
    .return{
        width: 0.8rem;
        display: none;
    }
    .return img{
        width: 100%;
    }
    .grid-item h3{
        font-size: 0.32rem;
    }
    .grid-item p{
        margin-top: 0.1rem;
    }
}